.white {
  color: #fff;
}
.red {
  color: #ea3423;
}
.pink {
  color: #ef8784;
}
.orange {
  color: #f6c243;
}
.yellow {
  color: #fefe54;
}
.green {
  color: #75fb4c;
}
.light-blue {
  color: #75fbfd;
}
.blue {
  color: #1c00f5;
}
.purple {
  color: #b024f6;
}
.black {
  color: #000;
}